
{% assign extension = include.src | split: "." | last | rstrip %}
{% if extension == "webm" %}
<!-- Experimental -->
<video class="proj-img" autoplay loop muted plays-inline>
  <source src="{{ include.src }}" width="320" height="240" type="video/webm">
</video>
{% elsif extension == "mp4" %}
<!-- Experimental -->
<video class="proj-img" autoplay loop muted plays-inline>
  <source src="{{ include.src }}" width="320" height="240" type="video/mp4">
</video>
{% else %}
<img src="{{ include.src }}" class="img-responsive proj-img">
{% endif %}
