---
layout: default
---

<div class="portfolio-modal">
	<div class="modal-content">
		<div class="container">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="modal-body">
		                <h2>{{ page.title }}</h2>
		                <hr class="star-primary">

		                {% for img_obj in page.images %}
		                    <div class="col-sm-4">
		                        <div class="thumbnail">
		                            <div class="img-wrapper">
		                                <a href="#{{ img_obj.id }}" class="portfolio-link" data-toggle="modal">
		                                    <img src="{{ site.baseurl }}/{{ img_obj['url'] }}" class="img-responsive img-centered proj-img" alt="">
		                                </a>
		                            </div>
		                        </div>
		                    </div>
		                {% endfor %}

		                {% if page.images %}
		                    <p class="small" align="center">Click on the images to enlarge.</p>
		                {% endif %}

		                {{ content }}

		                <ul class="list-inline item-details" style="margin-bottom: 0px">
		                    <li>
		                        Category:
		                        <strong>{{ page.category }}</strong>
		                    </li>
		                    <li>
		                        Date:
		                        <strong>{{ page.start_date | date: "%B %Y" }}</strong>
		                        {% if page.end_date %}
		                             <strong>- {{ page.end_date | date: "%B %Y" }}</strong>
		                        {% endif %}
		                    </li>
		                </ul>
		                {% if page.collaborators %}
		                    <ul class="list-inline item-details" style="margin-top: 0px">
		                        <li>
		                            Collaborators:
		                            {% for person in page.collaborators %}
		                                <strong>{{ person }}</strong>
		                                {% if forloop.last == false %}
		                                    <strong>, </strong>
		                                {% endif %}
		                            {% endfor %}
		                        </li>
		                    </ul>
		                {% endif %}
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>

{% include plain_image_modals.html %}
